.itemList {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.city {
  display: block;
  cursor: pointer;
  display: inline-block;
  /* width: 50%; */
  color: #ccc;
}

.city:hover {
  color: #fff;
}

.icon-card {
  position: relative;
}

.locationIcon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: -15px;
  bottom: 10px;
}
